<ps-header></ps-header>
<div class="ps-main-container">
    <div class="ps-home-heading">Looking for a new best friend?</div>
    <div class="ps-home-random-container">
        <div class="ps-home-random-panel col-sm-4">
            <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg"/>
        </div>
        <div class="ps-home-random-panel col-sm-4">
            <img src="http://deskbg.com/s3/wpp/18/18180/sad-cute-kitty-desktop-background.jpg"/>
        </div>
        <div class="ps-home-random-panel col-sm-4">
            <img src="http://cdn1-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-12.jpg"/>
        </div>
    </div>
    <div class="ps-home-heading">Let us help</div>
    <div class="btn btn-primary">
        <a class="ps-home-link" href="#/search">Get started</a>
    </div>
    <p>Description about website</p>
</div>