<ps-header user="model.user"></ps-header>
<div class="ps-card">
    <div class="ps-home-heading">Looking to adopt a new best friend?</div>
    <div class="ps-home-heading">Let us help</div>
    <div class="btn btn-primary">
        <a class="ps-home-link" href="#/search">Get started</a>
    </div>
    <h2>What is PetShelter?</h2>
    <p>
        PetShelter is a place for people to find pets to adopt from local animal
        shelters. Animal shelter owners are also able to list their shelter and
        pets for adoption.
    </p>
</div>
<!--<div class="ps-main-container">-->
    <!---->
<!--</div>-->