<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="ps-user-detail-img-container col-sm-6">
        <h2>{{model.userDetail.firstName}} {{model.userDetail.lastName}}</h2>
        <img ng-if="model.userDetail.photoUrl"
             ng-src="{{model.userDetail.photoUrl}}"
             class="ps-user-detail-img"/>
        <img ng-if="!model.userDetail.photoUrl"
             ng-src="img/noimagefound.jpg"
             class="ps-user-detail-img"/>
        <div class="ps-user-detail-date">
            {{model.userDetail.firstName}} has been a PetShelter member since {{model.userDetail.dateCreated | date:'MMMM d, yyyy'}}
        </div>
    </div>
    <div class="ps-user-detail-shelter-container col-sm-6">
        <h2>Shelters</h2>
        <div class="list-group">
            <div ng-repeat="shelter in model.shelters" class="">
                <a href="#/shelter/{{shelter._id}}">
                    <div class="list-group-item ps-search-result-container">
                        <h2 class="list-group-item-heading">{{shelter.name}}</h2>
                        <p class="list-group-item-text">
                            {{shelter.city}}<span ng-if="shelter.city && shelter.state">, </span>{{shelter.state}}</p>
                        <p class="list-group-item-text">{{shelter.zip}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div ng-if="model.shelters.length == 0">{{model.userDetail.firstName}} does not own any shelters</div>
    </div>
</div>
