<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1 class="col-xs-12">{{model.userDetail.firstName}} {{model.userDetail.lastName}}</h1>
    <div class="ps-user-detail-img-container col-sm-6">
        <img ng-if="model.userDetail.photoUrl"
             ng-src="{{model.userDetail.photoUrl}}"
             height="250px"
             width="250px"/>
        <div ng-if="!model.userDetail.photoUrl"
             class="ps-profile-img-missing">
            <div ng-if="!model.userDetail.photoUrl"
                 class="ps-profile-img-missing-icon glyphicon glyphicon-question-sign"></div>
            <div ng-if="!model.userDetail.photoUrl"
                 class="ps-profile-img-missing-text">No Image Provided</div>
        </div>
        <div class="ps-user-detail-date">
            {{model.userDetail.firstName}} has been a PetShelter member since {{model.userDetail.dateCreated | date:'MMMM d, yyyy'}}
        </div>
    </div>
    <div class="ps-user-detail-shelter-container col-sm-6">
        <div class="ps-user-detail-header">Shelters</div>
        <div ng-repeat="shelter in model.shelters">
            <a href="#/shelter/{{shelter._id}}">
                <div class="ps-shelter-result">
                    <div class="ps-shelter-result-name">{{shelter.name}}</div>
                    <div class="ps-shelter-result-city-state">
                        {{shelter.city}}<span ng-if="shelter.city && shelter.state">, </span>{{shelter.state}}</div>
                    <div class="ps-shelter-result-zip">{{shelter.zip}}</div>
                </div>
            </a>
        </div>
        <div ng-if="model.shelters.length == 0">{{model.userDetail.firstName}} does not own any shelters</div>
    </div>
</div>
