<ps-header user="model.user"></ps-header>
<div class="container">
    <h1>{{model.shelter.name}}</h1>
    <a href="#/shelter/{{model.shelterId}}/edit"
       ng-if="model.isOwner">
        <div class="btn btn-block btn-primary">Edit Shelter</div>
    </a>
    <h2>Address</h2>
    <ul>
        <li>{{model.shelter.address1}}</li>
        <li ng-if="model.shelter.address2">{{model.shelter.address2}}</li>
        <li>{{model.shelter.city}}, {{model.shelter.state}} {{model.shelter.zip}}</li>
        <li>{{model.shelter.country}}</li>
    </ul>
    <h2>Contact Info</h2>
    <ul>
        <li ng-if="model.shelter.email">{{model.shelter.email}}</li>
        <li ng-if="model.shelter.phone">{{model.shelter.phone}}</li>
        <li ng-if="model.shelter.fax">{{model.shelter.fax}}</li>
    </ul>
    <h2>Pets at this shelter</h2>
    <div ng-repeat="pet in model.pets">
        <ps-pet-result pet="pet"></ps-pet-result>
        <!--<a href="#/shelter/{{model.shelterId}}/pet/{{pet._id}}">-->
            <!--<div ng-click="model.visitPet(pet)"-->
                 <!--class="ps-search-result-container col-sm-4">-->
                <!--<img ng-if="pet.photoUrl"-->
                     <!--ng-src="{{pet.photoUrl}}"-->
                     <!--class="ps-search-result-img"/>-->
                <!--<div ng-if="!pet.photoUrl"-->
                     <!--class="ps-search-result-img">-->
                    <!--<div ng-if="!pet.photoUrl"-->
                         <!--class="ps-search-result-img-missing-icon glyphicon glyphicon-question-sign"></div>-->
                    <!--<div ng-if="!pet.photoUrl"-->
                         <!--class="ps-search-result-img-missing-text">No Image Provided</div>-->
                <!--</div>-->
                <!--<div class="ps-search-result-description">-->
                    <!--<div ng-if="pet.animal"><strong>Animal Type</strong>: {{pet.animal}}</div>-->
                    <!--<div ng-if="pet.name"><strong>Name</strong>: {{pet.name}}</div>-->
                    <!--<div ng-if="!pet.name"><strong>Name</strong>: Not Specified</div>-->
                    <!--<div ng-if="pet.breeds.length > 0">-->
                        <!--<div><strong>Breed</strong>:-->
                            <!--<span ng-repeat="breed in pet.breeds">-->
                                <!--<span ng-if="!$last">{{breed}} | </span>-->
                                <!--<span ng-if="$last">{{breed}}</span>-->
                            <!--</span></div>-->
                    <!--</div>-->
                    <!--<div ng-if="pet.breeds.length == 0">-->
                        <!--<div><strong>Breed</strong>: Not Specified</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    </div>
    <a ng-if="model.isOwner" href="#/shelter/{{model.shelterId}}/pet/new">
        <div class="btn btn-block btn-primary">Add a pet</div>
    </a>
    <div ng-click="model.saveShelter()"
         class="btn btn-block btn-primary">{{model.isSavedDisplay}}</div>

</div>
