<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="col-sm-12">
        <h1>My Shelters</h1>
    </div>
    <div class="col-sm-12">
        <a href="#/shelter/new">
            <div class="btn btn-block btn-primary ps-shelter-new">Register a new shelter</div>
        </a>
    </div>

    <div class="list-group col-sm-12">
        <div ng-repeat="shelter in model.shelters" class="col-sm-6">
            <a href="#/shelter/{{shelter._id}}">
                <div class="list-group-item ps-search-result-container">
                    <h2 class="list-group-item-heading">{{shelter.name}}</h2>
                    <p class="list-group-item-text">
                        {{shelter.city}}<span ng-if="shelter.city && shelter.state">, </span>{{shelter.state}}</p>
                    <p class="list-group-item-text">{{shelter.zip}}</p>
                </div>
            </a>
        </div>
    </div>
</div>