<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>

<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Edit Your Info</h1>
    <label for="first-name">First Name</label>
    <input type="text"
           id="first-name"
           ng-model="model.user.firstName"
           placeholder="John"
           class="form-control"
           autocapitalize="off"
           autocorrect="off"/>
    <label for="last-name">Last Name</label>
    <input type="text"
           id="last-name"
           ng-model="model.user.lastName"
           placeholder="Doe"
           class="form-control"
           autocapitalize="off"
           autocorrect="off"/>
    <label for="phone">Phone</label>
    <input type="text"
           id="phone"
           placeholder="555-555-5555"
           ng-pattern="model.phoneRegex"
           ng-model="model.user.phone"
           class="form-control"/>
    <label for="email">Email</label>
    <input type="email"
           id="email"
           placeholder="John@Doe.com"
           ng-model="model.user.email"
           class="form-control"/>
    <label for="biography">Biography</label>
    <textarea id="biography"
              rows="3"
              class="form-control"
              ng-model="model.user.biography"></textarea>
    <div ng-click="model.update(model.user)"
         class="btn btn-block btn-primary">Save</div>
    <a href="#/profile">
        <div class="btn btn-block btn-danger">Cancel</div>
    </a>
</div>