<ps-header user="model.user"></ps-header>
<div class="container">
    <h1>Search</h1>
    <label for="location">Zip Code (required)</label>
    <input ng-model="model.query.location"
           id="location"
           class="form-control"/>
    <label for="animal">Animals Type</label>
    <select ng-model="model.query.animal"
            id="animal"
            class="form-control"
            ng-options="item as item.display for item in model.animals track by item.value">
        <option value="">Any Animal Type</option>
    </select>
    <label for="breed">Breed</label>
    <select ng-model="model.query.breed"
            id="breed"
            class="form-control">
        <option value="">Any Breed</option>
        <option ng-if="model.query.animal.value === 'barnyard'"
                ng-repeat="breed in model.breeds.barnyard"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'bird'"
                ng-repeat="breed in model.breeds.bird"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'cat'"
                ng-repeat="breed in model.breeds.cat"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'dog'"
                ng-repeat="breed in model.breeds.dog"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'horse'"
                ng-repeat="breed in model.breeds.horse"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'pig'"
                ng-repeat="breed in model.breeds.pig"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'reptile'"
                ng-repeat="breed in model.breeds.reptile"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal.value === 'smallfurry'"
                ng-repeat="breed in model.breeds.smallfurry"
                value="{{breed}}">{{breed}}</option>
    </select>
    <label for="size">Size</label>
    <select ng-model="model.query.size"
            id="size"
            class="form-control"
            ng-options="item as item.display for item in model.sizes track by item.value">
        <option value="">Any Size</option>
    </select>
    <label for="sex">Sex</label>
    <select ng-model="model.query.sex"
            id="sex"
            class="form-control"
            ng-options="item as item.display for item in model.sexes track by item.value">
        <option value="">Any Sex</option>
    </select>
    <label for="age">Age</label>
    <select ng-model="model.query.age"
            id="age"
            class="form-control">
        <option value="">Any Age</option>
        <option ng-repeat="age in model.ages" value="{{age}}">{{age}}</option>
    </select>
    <div ng-click="model.search(model.query)" class="btn btn-block btn-primary">Go!</div>


    <h1 ng-if="model.pets && model.pets.length > 0">Search Results</h1>
    <div ng-repeat="pet in model.pets">
        <ps-pet-result pet="pet"></ps-pet-result>
    </div>
</div>
