<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Search</h1>
    <label for="location">Zip Code (required)</label>
    <input ng-model="model.query.location"
           id="location"
           class="form-control"/>
    <label for="animal">Animals Type</label>
    <select ng-model="model.query.animal"
            id="animal"
            class="form-control">
        <option value="">Any Animal Type</option>
        <option
                ng-repeat="animal in model.animals"
                title="{{animal.display}}"
                ng-selected="{{animal.value == model.query.animal}}"
                value="{{animal.value}}">{{animal.display}}
        </option>
    </select>
    <label for="breed">Breed</label>
    <select ng-model="model.query.breed"
            id="breed"
            class="form-control">
        <option value="">Any Breed</option>
        <option ng-if="model.query.animal === 'barnyard'"
                ng-repeat="breed in model.breeds.barnyard"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'bird'"
                ng-repeat="breed in model.breeds.bird"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'cat'"
                ng-repeat="breed in model.breeds.cat"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'dog'"
                ng-repeat="breed in model.breeds.dog"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'horse'"
                ng-repeat="breed in model.breeds.horse"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'pig'"
                ng-repeat="breed in model.breeds.pig"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'reptile'"
                ng-repeat="breed in model.breeds.reptile"
                value="{{breed}}">{{breed}}</option>
        <option ng-if="model.query.animal === 'smallfurry'"
                ng-repeat="breed in model.breeds.smallfurry"
                value="{{breed}}">{{breed}}</option>
    </select>
    <label for="size">Size</label>
    <select ng-model="model.query.size"
            id="size"
            class="form-control">
        <option value="">Any Size</option>
        <option
                ng-repeat="size in model.sizes"
                title="{{size.display}}"
                ng-selected="{{size.value == model.query.size}}"
                value="{{size.value}}">{{size.display}}
        </option>
    </select>
    <label for="sex">Sex</label>
    <select ng-model="model.query.sex"
            id="sex"
            class="form-control">
        <option value="">Any Sex</option>
        <option
                ng-repeat="sex in model.sexes"
                title="{{sex.display}}"
                ng-selected="{{sex.value == model.query.sex}}"
                value="{{sex.value}}">{{sex.display}}
        </option>
    </select>
    <label for="age">Age</label>
    <select ng-model="model.query.age"
            id="age"
            class="form-control">
        <option value="">Any Age</option>
        <option ng-repeat="age in model.ages" value="{{age}}">{{age}}</option>
    </select>
    <div ng-click="model.search(model.query)"
         class="btn btn-block btn-primary ps-search-go">Go!</div>

    <h2 ng-if="model.hasSearched && model.pets.length > 0"
        id="ps-search-results">Search Results</h2>
    <div class="list-group">
        <div class="col-sm-6" ng-repeat="pet in model.pets">
            <ps-pet-result pet="pet"></ps-pet-result>
        </div>
    </div>
    <div ng-if="model.showLoadMore"
         ng-click="model.loadMore()"
         class="btn btn-block btn-primary col-sm-12">Load More</div>
    <h2 class="ps-search-last"
        ng-if="model.hasSearched && model.pets.length == 0">No search results were found. Please refine your search and try again.</h2>
    <div class="ps-search-result-wrapper col-sm-12"></div>
</div>
