input.form-control {
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
}

button.btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

input[type=checkbox].checkbox-input {
    margin-left: 5px;
}

.checkbox-label {
    vertical-align: center;
}

.navbar-center-vert {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.widget-element {
    position: relative;
}

div.widget-edit {
    background-color: white;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

div.flickr-row {
    padding: 0 15px;
}

div.flickr-img {
    padding: 0;
}

div.flickr-img img {
    width: 100%;
}

.widget-element textarea {
    margin-bottom: 5px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
