input.form-control {
    margin-bottom: 5px;
}

button.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

a:hover {
    text-decoration: none;
}

.navbar-center-vert {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.widget-element {
    position: relative;
}

div.widget-edit {
    background-color: white;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}