body {
  background-color: #F2F2F2;
  color: #111111;
  font-family: 'Open Sans', sans-serif;
}
.btn {
  margin-top: 10px;
}
.form-control {
  margin-bottom: 10px;
}
.ps-card {
  background-color: #5EA989;
  max-width: 970px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .ps-card {
    margin: 15px;
  }
}
.ps-main-container {
  max-width: 970px;
  margin: auto;
}
.ps-header {
  background-color: white;
  color: #777777;
}
.ps-header-link {
  color: #777777;
  display: inline-block;
  height: 30px;
  margin: 7px;
  padding: 5px 5px;
  vertical-align: middle;
}
.ps-header-logo {
  color: #777777;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  padding: 0 10px;
  margin: 8px;
  vertical-align: middle;
}
.ps-home-heading {
  display: block;
  font-size: 30px;
  color: #074028;
  width: 100%;
}
.ps-home-link {
  color: white;
}
.ps-home-link:hover {
  color: white;
  text-decoration: none;
}
.ps-home-random-container {
  display: block;
  height: 300px;
  width: 100%;
}
.ps-home-random-panel {
  width: 300px;
  height: 300px;
}
.ps-home-random-panel img {
  width: 100%;
  height: 100%;
}
.ps-search-result-container {
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  margin: 0;
}
.ps-search-result-description {
  margin: 15px auto;
  padding: 25px 0 0 0;
  height: 125px;
  width: 250px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .ps-search-result-description {
    width: 200px;
    height: 200px;
  }
}
.ps-search-result-description div {
  margin-bottom: 5px;
}
.ps-search-result-img {
  color: #777777;
  display: block;
  font-weight: bold;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px auto;
}
.ps-search-result-img-missing-icon {
  font-size: 150px;
  margin-top: 40px;
}
.ps-search-result-img-missing-text {
  font-size: 20px;
}
