body {
  background-color: #F2F2F2;
  color: #111111;
  font-family: 'Open Sans', sans-serif;
}
.alert {
  margin-top: 20px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-control {
  margin-bottom: 10px;
}
.navbar {
  margin-bottom: 0;
}
.ps-card {
  background-color: #5EA989;
  max-width: 970px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .ps-card {
    margin: 15px;
  }
}
.ps-main-container {
  max-width: 970px;
  margin: auto;
}
.ps-header {
  background-color: white;
  color: #777777;
}
.ps-header-link {
  color: #777777;
  display: inline-block;
  height: 30px;
  margin: 7px;
  padding: 5px 5px;
  vertical-align: middle;
}
.ps-header-logo {
  color: #777777;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  padding: 0 10px;
  margin: 8px;
  vertical-align: middle;
}
.ps-home-cover-img {
  background: url('../img/dog.jpg') no-repeat right bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}
@media (max-width: 768px) {
  .ps-home-cover-img {
    text-align: center;
  }
}
.ps-home-cover-learn-more {
  border: 1px solid green;
  font-size: 20px;
  margin-left: 100px;
}
@media (max-width: 992px) {
  .ps-home-cover-learn-more {
    margin-left: 70px;
  }
}
@media (max-width: 768px) {
  .ps-home-cover-learn-more {
    margin: 0;
  }
}
.ps-home-cover-subtitle {
  color: #1f5392;
  font-size: 50px;
  font-weight: bolder;
  padding-top: 230px;
  padding-left: 100px;
  text-align: left;
  text-shadow: 1px 1px white;
}
@media (max-width: 992px) {
  .ps-home-cover-subtitle {
    padding-left: 70px;
    padding-top: 120px;
  }
}
@media (max-width: 768px) {
  .ps-home-cover-subtitle {
    font-size: 30px;
    padding: 0;
    text-align: center;
    margin: 10px 15px 20px;
  }
}
.ps-home-cover-title {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 30px;
  padding-right: 100px;
  text-align: right;
  text-shadow: 1px 1px #333333;
}
@media (max-width: 992px) {
  .ps-home-cover-title {
    padding-right: 70px;
    padding-top: 120px;
  }
}
@media (max-width: 768px) {
  .ps-home-cover-title {
    font-size: 30px;
    padding-top: 40px;
    padding-right: 0;
    text-align: center;
    margin: 0 30px;
  }
}
.ps-home-description {
  text-align: center;
}
.ps-home-description-dark {
  background-color: #E2E2E2;
}
.ps-home-description-header {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  .ps-home-description-header {
    font-size: 24px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
.ps-home-description-text {
  font-size: 18px;
  max-width: 650px;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .ps-home-description-text {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
.ps-home-divider-small {
  border-bottom: 1px solid #666666;
  margin: 25px auto;
  width: 50px;
}
.ps-home-divider-large {
  border-bottom: 1px solid #666666;
  margin: 50px auto 50px;
  width: 200px;
}
.ps-home-get-started {
  margin-top: 25px;
  margin-bottom: 50px;
}
.ps-home-link {
  color: white;
}
.ps-home-link:hover {
  color: white;
  text-decoration: none;
}
.ps-profile-img {
  width: 250px;
}
@media (max-width: 768px) {
  .ps-profile-img {
    width: 100%;
  }
}
.ps-profile-img-missing {
  color: #777777;
  display: block;
  font-weight: bold;
  width: 200px;
  height: 275px;
  text-align: center;
  margin: 15px auto;
}
.ps-profile-img-missing-icon {
  font-size: 150px;
  margin-top: 25px;
}
.ps-profile-img-missing-text {
  font-size: 20px;
}
.ps-profile-info {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.ps-profile-info-container {
  background-color: #E2E2E2;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .ps-profile-info-container {
    margin: 15px;
  }
}
.ps-profile-label {
  font-size: 20px;
}
.ps-register-login-link {
  margin-bottom: 30px;
}
.ps-search-result-container {
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  margin: 0;
}
.ps-search-result-description {
  margin: 15px auto;
  padding: 25px 0 0 0;
  height: 125px;
  width: 250px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .ps-search-result-description {
    width: 200px;
    height: 200px;
  }
}
.ps-search-result-description div {
  margin-bottom: 5px;
}
.ps-search-result-img {
  color: #777777;
  display: block;
  font-weight: bold;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px auto;
}
.ps-search-result-img-missing-icon {
  font-size: 150px;
  margin-top: 40px;
}
.ps-search-result-img-missing-text {
  font-size: 20px;
}
