@container-width: 970px;

@background-blue: #113F52;
@card-blue: #477487;
@header-text-blue: #6F93A2;
@header-text-gray: #777777;
@text-white: #FFFFFF;

body {
  background-color: @background-blue;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.ps {
  &-main {
    &-container {
      max-width: @container-width;
      margin: auto;
    }
  }
  &-header {
    background-color: white;
    color: @header-text-gray;
    &-container {
      max-width: 970px;
      margin: auto;
    }

    &-link {
      color: @header-text-gray;
      display: inline-block;
      height: 30px;
      margin: 7px;
      padding: 5px 10px;
      vertical-align: middle;
    }

    &-logo {
      color: @header-text-gray;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      height: 30px;
      padding: 0 10px;
      margin: 8px;
      vertical-align: middle;
    }
  }
  &-home {
    &-heading {
      display: block;
      font-size: 30px;
      color: white;
      width: 100%;
    }
    &-link {
      color: white;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
    &-random {
      &-container {
        display: block;
        height: 300px;
        width: 100%;
      }
      &-panel {
        width: 300px;
        height: 300px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}