@container-width: 970px;

@background-blue: #113F52;
@card-blue: #477487;
@header-text-blue: #6F93A2;
@header-text-gray: #777777;
@text-white: #FFFFFF;

@background-green: #074028;
@card-green: #5EA989;
@text-white: #BAF0D9;
@text-shadow-gray: #333333;
@description-dark-gray: #E2E2E2;
@box-shadow-gray: #666666;

@subtitle-blue: #1f5392;

@background-gray: #F2F2F2;
@text-black: #111111;

@screen-xs-max: 420px;
@screen-sm-max: 768px;
@screen-md-max: 992px;
@screen-lg-max: 1200px;

body {
  background-color: @background-gray;
  color: @text-black;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  &:hover, :visited, :active {
    text-decoration: none;
  }
}

.alert {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.list-group {
  color: #333333;
  a {
    color: #333333;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

.ps {
  &-card {
    background-color: @card-green;
    max-width: 970px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    @media(max-width: @screen-sm-max) {
      margin: 15px;
    }

  }
  &-main {
    &-container {
      max-width: @container-width;
      margin: auto;
    }
  }
  &-header {
    background-color: white;
    color: @header-text-gray;

    &-link {
      color: @header-text-gray;
      display: inline-block;
      height: 30px;
      margin: 7px;
      padding: 5px 5px;
      vertical-align: middle;
    }

    &-logo {
      color: @header-text-gray;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      height: 30px;
      padding: 0 10px;
      margin: 8px;
      vertical-align: middle;
      @media(max-width: @screen-xs-max) {
        font-size: 16px;
        margin: 10px 0 0 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &-home {
    &-cover {
      &-img {
        background: url('../img/dog.jpg') no-repeat right bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        @media(max-width: @screen-sm-max) {
          text-align: center;
        }
      }
      &-learn-more {
        border: 1px solid green;
        margin-left: 100px;
        @media(max-width: @screen-md-max) {
          margin-left: 70px;
        }
        @media(max-width: @screen-sm-max) {
          margin: 0;
        }
      }
      &-subtitle {
        color: @subtitle-blue;
        font-size: 50px;
        font-weight: bolder;
        padding-top: 230px;
        padding-left: 100px;
        text-align: left;
        text-shadow: 3px 3px white;
        @media(max-width: @screen-md-max) {
          padding-left: 70px;
          padding-top: 120px;
        }
        @media(max-width: @screen-sm-max) {
          font-size: 30px;
          padding: 0;
          text-align: center;
          margin: 10px 15px 20px;
          text-shadow: 1px 1px white;
        }
      }
      &-title {
        color: white;
        font-size: 40px;
        font-weight: bolder;
        padding-top: 30px;
        padding-right: 100px;
        text-align: right;
        text-shadow: 1px 1px #333333;
        @media(max-width: @screen-md-max) {
          padding-right: 70px;
          padding-top: 120px;
        }
        @media(max-width: @screen-sm-max) {
          font-size: 30px;
          padding-top: 40px;
          padding-right: 0;
          text-align: center;
          margin: 0 30px;
        }
      }
    }
    &-description {
      text-align: center;

      &-dark {
        background-color: @description-dark-gray;
      }
      &-header {
        font-size: 30px;
        margin-top: 50px;
        text-align: center;
        @media(max-width: @screen-sm-max) {
          font-size: 24px;
          margin-left: 30px;
          margin-right: 30px;
        }
      }
      &-text {
        font-size: 18px;
        max-width: 650px;
        margin: auto;
        text-align: center;
        @media(max-width: @screen-sm-max) {
          font-size: 16px;
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
    &-divider {
      &-small {
        border-bottom: 1px solid #666666;
        margin: 25px auto;
        width: 50px;
      }
      &-large {
        border-bottom: 1px solid #666666;
        margin: 50px auto 50px;
        width: 200px;
      }
    }
    &-get-started {
      margin-bottom: -20px;
    }
    &-link {
      color: white;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
  &-message-detail {
    &-message {
      margin-bottom: 5px;

      &-other {
        color: green;
      }
      &-user {
        color: blue;
      }
    }
  }
  &-messagethread {
    &-container {
      background-color: @description-dark-gray;
      box-shadow: 2px 2px 2px @box-shadow-gray;
      color: black;
      margin-bottom: 10px;
      padding: 15px;
      height: 130px;
    }
    &-img {
      float: left;
      height: 100px;
      width: 100px;
      @media(max-width: @screen-sm-max) {
        display: none;
      }

      &-missing {
        color: @header-text-gray;
        font-weight: bold;
        float: left;
        width: 100px;
        height: 100px;
        text-align: center;
        @media(max-width: @screen-sm-max) {
          display: none;
        }
      }
    }
    &-info {
      padding-left: 115px;
      padding-top: 15px;
      @media(max-width: @screen-sm-max) {
        padding: 0;
      }
    }
  }
  &-pet-detail {
    &-header {
      margin-top: 0;
    }
    &-last {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    &-shelter {
      display: block;
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &-profile {
    &-img {
      width: 250px;
      margin-top: 42px;
      @media(max-width: @screen-sm-max) {
        width: 100%;
        margin-top: 0px;
      }

      &-missing {
        color: @header-text-gray;
        display: block;
        font-weight: bold;
        width: 200px;
        height: 275px;
        text-align: center;
        &-icon {
          font-size: 150px;
          margin-top: 25px;
        }
        &-text {
          font-size: 20px;
        }
      }
    }
    &-info {
      font-size: 18px;

      &-container {
        h2 {
          margin-top: 0;
        }
        @media(max-width: @screen-sm-max) {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
    &-label {
      font-size: 20px;
      margin-top: 20px;
    }
    &-upload {
      max-width: 250px;
      margin-top: 10px;
    }
  }
  &-register {
    &-login-link {
      margin-bottom: 30px;
    }
  }
  &-saved-pet-list {
    div {
      color: black;
    }
  }
  &-search {
    &-go {
      margin-bottom: 30px;
    }
    &-last {
      margin-bottom: 50px;
    }
    &-result {
      &-container {
        height: 130px;
        @media(max-width: @screen-xs-max) {
          height: auto;
        }
      }
      &-description {
        height: 130px;
        padding-top: 15px;
        padding-left: 130px;
        @media(max-width: @screen-xs-max) {
          float: none;
          padding-left: 15px;
        }

        div {
          margin-bottom: 5px;
        }
      }
      &-img {
        color: @header-text-gray;
        font-weight: bold;
        float: left;
        width: 109px;
        height: 109px;
        margin-right: 15px;
        text-align: center;
        @media(max-width: @screen-xs-max) {
          display: block;
          float: none;
          margin: 15px auto 15px;
        }

        &-missing {
          &-icon {
            font-size: 60px;
          }
          &-text {
            font-size: 14px;
          }
        }
      }
    }
  }
  &-shelter {
    &-detail-no-pets {
      margin-bottom: 50px;
    }
    &-new {
      margin-top: 0;
    }
    &-result {
      background-color: @description-dark-gray;
      box-shadow: 2px 2px 2px @box-shadow-gray;
      color: black;
      margin-bottom: 10px;
      padding: 10px;

      &-name {
        font-size: 30px;
      }
    }
  }
  &-user-detail {
    &-date {
      font-size: 14px;
      max-width: 250px;
      text-align: left;
      margin-top: 10px;
    }
    &-header {
      font-size: 30px;
      margin-top: 0;
      @media(max-width: @screen-sm-max) {
        margin-top: 15px;
      }
    }
    &-img {
      width: 250px;
      height: 250px;
      margin-top: 42px;
      @media(max-width: @screen-xs-max) {
        width: 190px;
        height: 190px;
        margin-top: 0;
      }
    }
  }
  &-user-result {
    background-color: @description-dark-gray;
    box-shadow: 2px 2px 2px @box-shadow-gray;
    cursor: pointer;
    margin-bottom: 10px;
    @media(max-width: @screen-xs-max) {
      padding-top: 15px;
    }
    &-heading {
      color: #333333;
      margin-top: 40px;
      @media(max-width: @screen-xs-max) {
        margin-top: 0;
        text-align: center;
      }
    }
    &-img {
      color: @header-text-gray;
      font-weight: bold;
      float: left;
      width: 100px;
      height: 100px;
      margin-top: 15px;
      text-align: center;
      @media(max-width: @screen-xs-max) {
        display: block;
        float: none;
        margin: auto;
      }
    }
    &-name {
      color: black;
      font-size: 26px;
      height: 130px;
      padding-top: 40px;
      text-align: center;
      @media(max-width: @screen-xs-max) {
        float: none;
        padding-left: 15px;
      }
    }
  }
  &-user-search {
    &-result {
      background-color: white;
      border: 1px solid gray;
      height: 130px;
      padding: 15px;
      @media(max-width: @screen-xs-max) {
        height: auto;
        text-align: center;
      }

      &-img {
        margin-top: 0;
        height: 100px;
        width: 100px;
        @media(max-width: @screen-xs-max) {
          float: none;
        }
      }
      &-missing-img {
        color: @header-text-gray;
        font-weight: bold;
        float: left;
        width: 100px;
        height: 100px;
        text-align: center;
        @media(max-width: @screen-xs-max) {
          display: block;
          float: none;
          margin: auto;
        }
      }
      &-name {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 22px;
        @media(max-width: @screen-xs-max) {
          vertical-align: middle;
        }
      }
    }
  }
}