<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1 class="col-sm-12">Messages</h1>
    <div class="col-sm-12">
        <div class="list-group">
            <div ng-repeat="messagethread in model.messagethreads">
                <a href="#/profile/message/{{messagethread._id}}">
                    <div class="list-group-item ps-search-result-container">
                        <img ng-if="messagethread._user.photoUrl"
                             ng-src="{{messagethread._user.photoUrl}}"
                             class="ps-search-result-img"/>
                        <img ng-if="!messagethread._user.photoUrl"
                             ng-src="img/noimagefound.jpg"
                             class="ps-search-result-img"/>
                        <h4 class="list-group-item-heading">User: {{messagethread._user.firstName}} {{messagethread._user.lastName}}</h4>
                        <h4 class="list-group-item-heading">Shelter: {{messagethread._shelter.name}}</h4>
                        <p class="list-group-item-text">Last message sent on {{messagethread.dateUpdated | date:'MMMM d, yyyy'}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
