<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h3>{{model.messagethread._user.firstName}} {{model.messagethread._user.lastName}} and {{model.messagethread._shelter.name}}</h3>
    <div class="list-group">
        <div ng-repeat="message in model.messages">
            <div class="list-group-item ps-message-detail-message"">
            <span ng-class="model.getMessageClass(message._user._id)">
                {{message._user.firstName}} {{message._user.lastName}} [{{message.dateCreated | date:'h:mma MMMM d, yyyy'}}]
            </span>: {{message.text}}
        </div>
    </div><br>
    <textarea ng-model="model.message"
              class="form-control"
              rows="3"></textarea>
    <div ng-click="model.send(model.message)"
         class="btn btn-block btn-primary">Send</div>
    <a href="#/profile/message">
        <div class="btn btn-block btn-danger">Back</div>
    </a>
</div>
