<ps-header></ps-header>
<div class="container">
    <h1>Register</h1>
    <label>Username</label>
    <input type="text"
           ng-model="model.user.username"
           class="form-control"
           autocapitalize="off"
           autocorrect="off"/>
    <label>Password</label>
    <input type="password"
           ng-model="model.user.password"
           class="form-control"/>
    <label>Verify Password</label>
    <input type="password"
           ng-model="model.user.verifyPassword"
           class="form-control"/>
    <div ng-click="model.register(model.user)"
         class="btn btn-block btn-primary">Register</div>
    <div>Already have an account? <a href="#/login">Log in</a></div>
</div>