<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <div class="navbar-brand pull-left">
                Widget Edit
            </div>
            <p class="navbar-text pull-right">
                <a class="navbar-link"
                   ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Video Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="text"
                   placeholder="Video Text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url"
                   type="text"
                   class="form-control"
                   id="url"
                   placeholder="YouTube URL">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width"
                   type="text"
                   class="form-control"
                   id="width"
                   placeholder="Video Width">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widget)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-inner navbar-center-vert">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>