<nav class="navbar navbar-default navbar-static-top ps-header">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="ps-header-logo"><a href="#/">PetShelter</a></li>
                <li class="pull-right" ng-if="!user"><a href="#/login">Sign in</a></li>
                <li class="pull-right" ng-if="user"><a href="#/login">{{user.firstName}}</a></li>
                <li class="pull-right"><a href="#/search">Search</a></li>
            </ul>
        </div>
    </div>
</nav>