<div class="ps-header">
    <div class="ps-header-container">
        <a href="#/">
            <div class="ps-header-logo">PetShelter</div>
        </a>
        <a ng-if="!user"
           href="#/login">
            <div class="ps-header-link pull-right">Sign in</div>
        </a>
        <a ng-if="user"
           href="#/profile">
            <div class="ps-header-link pull-right">{{user.firstName}}</div>
        </a>
        <a href="#/search">
            <div class="ps-header-link pull-right">Search</div>
        </a>
    </div>
</div>