<ps-header user="model.user"></ps-header>
<div class="container">
    <h1>{{model.pet.name}}</h1>
    <a href="#/shelter/{{model.shelterId}}/pet/{{model.petId}}/edit"
       ng-if="model.isOwner">
        <div class="btn btn-block btn-primary">Edit Pet</div>
    </a>
    <a href="#/shelter/{{model.shelterId}}">Shelter</a>
    <div ng-click="model.savePet()"
         class="btn btn-block btn-primary">{{model.isSavedDisplay}}</div>
    <div>Have more questions? Try sending the shelter owners a message to get the conversation started!</div>
    <textarea ng-model="model.message"
              class="form-control"
              rows="3"></textarea>
    <div ng-click="model.sendMessage(model.message)" class="btn btn-block btn-success">
        Send
    </div>
</div>
