<ps-header user="model.user"></ps-header>
<ps-profile-menu></ps-profile-menu>
<div class="container">
    <div id="ps-alert" ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1 class="col-sm-12">Saved Pets</h1>
    <div class="list-group col-sm-12">
        <div class="col-sm-6" ng-repeat="pet in model.savedPets">
            <a href="#/shelter/{{pet._shelter}}/pet/{{pet._id}}">
                <div class="list-group-item ps-search-result-container">
                    <img ng-if="pet.photoUrl"
                         ng-src="{{pet.photoUrl}}"
                         class="ps-search-result-img"/>
                    <img ng-if="!pet.photoUrl"
                         ng-src="img/noimagefound.jpg"
                         class="ps-search-result-img"/>
                    <h4 ng-if="pet.name"
                        class="list-group-item-heading">{{pet.name}}</h4>
                    <h4 ng-if="!pet.name"
                        class="list-group-item-heading">Name Not Specified</h4>
                    <p ng-if="pet.animal"
                       class="list-group-item-text">Animal Type: {{pet.animal}}</p>
                    <p ng-if="pet.breeds.length > 0"
                       class="list-group-item-text">
                        <span>
                            <strong>Breed</strong>:
                            <span ng-repeat="breed in pet.breeds">
                                <span ng-if="!$last">{{breed}} | </span>
                                <span ng-if="$last">{{breed}}</span>
                            </span>
                        </span>
                    </p>
                    <p ng-if="pet.breeds.length == 0"
                       class="list-group-item-text">
                        Breed</strong>: Not Specified
                    </p>
                </div>
            </a>
        </div>
    </div>
    
</div>